<!-- Navbar -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end">
    <ul class="navbar-nav col-8 mx-3 text-left">
        <li class="nav-item active"><img src="https://image.ibb.co/noKVrp/datecatcherfinal2.png" style="width:55px;" alt=""></li>
        <li class="nav-item active">
            <a class="nav-link" [routerLink]="['register']"><strong>DateCatcher</strong></a>
        </li>
    </ul>
    <ul class="navbar-nav col-3">
        <li><a class="nav-link">Welcome back</a></li>
        <li ngbDropdown class="d-inline-block">
            <a class="nav-link dropdown-toggle" ngbDropdownToggle id="navbarDropdown" role="button" data-toggle="dropdown">
                {{ _currentUser.firstname }}
            </a>
            <div ngbDropdownMenu aria-labelledby="navbarDropdown">
                <a class="dropdown-item" [routerLink]="['/dashboard',_currentUser._id]">Dashboard</a>
                <a class="dropdown-item" [routerLink]="['/dashboard',_currentUser._id,'profile']">Profile</a>
                <a class="dropdown-item" [routerLink]="['/dashboard',_currentUser._id,'calendar']">My Calendar</a>
                <a class="dropdown-item" [routerLink]="['/dashboard',_currentUser._id,'randomize']">Date Maker</a>
                <a class="dropdown-item" [routerLink]="['/detail']">Invitations</a>
                <a class="dropdown-item" [routerLink]="['detail']">Notifications</a>
                <a class="dropdown-item" href="#">Log out</a>
            </div>
        </li>
    </ul>
</nav>
<div class="wrapper">
    <!-- User information -->
    <div class="container mx-auto box text-center">    
        <div class="row">
            <!-- User profile image -->
            <div class="image container col-3 mt-3"></div>
            <!-- User information -->
            <div class="textbox container col-8">
                <h2>{{ _currentUser.firstname }}</h2>
                <hr>
                <p>Email: {{ _currentUser.email }} </p>
                <p>Gender: {{ _currentUser.gender }} </p>
                <p>{{ _currentUser.age }} </p>
                <p>{{ _currentUser.city }} </p>
            </div>
        </div>
    </div>
</div>